body {
    background-color: aliceblue;
    padding: 3%;
} 

h1 {
    font-family: sans-serif;
    text-align: center;

}         

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.1;
    background-color: beige;
}

.descricao {
    position: absolute;
    top: 36%;
    right: 8%;
}


.res {
    font-size: 30px;
    text-decoration: underline;
}

.aut {
    font-size: 25px;
    text-decoration: underline;
}

.sen {
    font-size: 20px;
    text-decoration: underline;
}

#fotom {
    float: left;
    height: 280px;
    padding: 10px;
    background-color: aqua;
}

.image-container {
    height: 300px;
    position: relative;
}

ul li:nth-child(odd) {
  background-color: blueviolet;
}